

@import '../app.scss';


$unitWidth:calc(100vw/ 5);
$padding: 20px;
$headerHeight: 50px;


// .background-img{
//   border: 2px solid red;
//   height:100%;
//   position: fixed;
//   width: 100%;
//   background-image: url('../assets/PROMS-Logo-RGB.png' );
//   z-index: -1;
//   filter: grayscale(100%);
//   background-repeat: no-repeat;
//   background-size: cover;
//   opacity: 0.1;
//   background-color: #f5f7f9;
//   background-position:  400px 100px;
// }

.container {
  height: 100%;
  background-color: #f5f7f9;
}

//HEADER


.hidden {
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
}

.server-header {
  @extend .xsb;
  padding: 0 $padding + 10px;
  padding-bottom: 0;
  position: fixed;
  align-items: end;
  height: $headerHeight;
  background-color: white;
  box-shadow: 0px 7px 18px -5px rgba(173,173,173,0.71);
  box-sizing: border-box;

  .menu-item {
    width: $unitWidth;
    cursor: pointer;

    p {
      font-weight: 700;
      padding-bottom: 5px;
      display: inline-block;
      font-size: 0.9em;
    }
  }

  .header-button {
    border-radius: 10px;
    background-color: rgb(56, 56, 56);
    color: white;
    padding: 4px 10px;
    font-size: 0.7em;

  }
}

// SERVER AND INSTANCE

.content {
  padding: $padding;
  padding-top: $headerHeight + 10px;
}


%unit-container {
  display: flex;
  flex-direction: column;
  min-width: $unitWidth;
  background-color: white;
  // background-image: url('../assets/PROMS-Logo-RGB.png' );
  border: 2px solid grey;
  border-top: 20px solid  rgb(36, 36, 36);
  box-sizing: border-box;
  margin: 10px;
  padding: 10px;
  font-size: 0.8em;

  .expand {
    font-size: 10px;
    text-align: end;
    padding-top: 5px;
    cursor: pointer;
    }
}

.server-container {
  @extend %unit-container;
  position: relative;

  .server-title {
    @extend .bold;
    font-size: 1.5em;
  }
  
  .bell-icon{
    right: 0;
    color: rgb(133, 13, 13);
    font-size: 1.5em;
    cursor: pointer;
  }

  .drives-titles {
    font-weight: 600;
    margin: 5px 0;
  }
}

.instance-container {
  @extend %unit-container;
  height: calc(100vh/4);
}
