.container {
padding: 30px;
}

.details {
  border: 1px solid lightGrey;
  padding: 10px;
}

.section-container {
  border: 1px solid lightgray;
}

.tableCount {
  background-color: rgb(208, 43, 43,0.5);
  border-radius: 20px;
  padding: 2px 10px;
  font-size: 0.8em;
  margin: 0 5px;
  color: white;
  font-weight: 400;
}
