.search-bar {
  // border: 1px solid grey;
  border-radius: 20px;
  padding:3px;
  background-color: rgb(238, 238, 238);
}




.search-input {
  border:none;
  outline:none;
  background-color: rgb(238, 238, 238);
}