.search-bar {
  background-color: rgb(238, 238, 238);
  border-radius: 40px !important;
}




.search-input {
  border:none;
  outline:none;
  border-radius: 40px !important;

  background-color: rgb(238, 238, 238);
}